# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# =========================
# uv
# =========================
# Não ignorar uv.lock
# O uv.lock deve ser versionado no Git.

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# =========================
# Type checking / Linters
# =========================
.mypy_cache/
.pyright/
.ruff_cache/

# =========================
# Build
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
